 .u-section-1 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 473px;
  min-height: 208px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  text-align: center;
  font-size: 4.5rem;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  text-align: center;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  text-align: center;
  margin: 20px auto 0;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 0;
  margin-top: 377px;
  min-height: 66px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} 